<div style="text-align:center">
  <h1>
    <font face="raleway" color="#FDB515">
        Which table has the best decorations on this fine pre-Big-Game Dinner evening?<br/>
    </font>
  </h1>

  <h2>
    <font face="raleway" color="#003262">
        Go {{ title }}🐻🐻💛💙!<br/>
    </font>
  </h2>

  <h2>
    <font face="raleway" color="#003262">
        Vote at: <a href="https://jazzy-singularity.glitch.me/"> https://jazzy-singularity.glitch.me/</a> or <a href="http://bit.ly/Big-Game-2019">http://bit.ly/Big-Game-2019</a><br/>
    </font>
  </h2>



</div>
<app-vote-chart>
  <!-- <app-chart-logic></app-chart-logic> -->
</app-vote-chart>
